<h3> Current Game Library</h3> 
 <% for (var i=0; i< gameData.length; i++ ) { %>
  <form method="POST" action="/deleteGame/<%= gameData[i]._id %>" style="display: inline-block">  
    <%= gameData[i].game %> (<%= gameData[i].size %>) 
    <input type="submit" value="delete"> 
  </form>
  <br/>
<% } %> 

<h3> Update your Game </h3> 
 <% for (var i=0; i< gameData.length; i++ ) { %>
  <form method="POST" action="/updateGame/<%= gameData[i]._id %>" style="display: inline-block">  
    <%= gameData[i].game %> (<%= gameData[i].size %>) 
    <input type="submit" value="update"> 
  </form>
  <br/>
<% } %> 
<!-- update our db -->

<form method="get" action="/create">
    <p>What's your favorite game!</p>
    <input type="text" name="ejsFormName" value=""> 
    <input type="submit">
  </form>
  